<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Login</title>
    <link rel="stylesheet" type="text/css" href="/static/css/custom.css" />

</head>
<body>

    <div class="contentClass">
        <div class="loginDiv">
            <h1>Los Santos Food Delivery</h1>
            <form action="/" method="post">
                <input name="username" class="loginInput" required type="text" placeholder="Username"><br>
                <input name="password" class="loginInput" required type="password" placeholder="Password"><br>
                <button class="loginButton loginInput" type="submit">Login</button><br>
            </form>
            <form action="/register">
                <button class="registerButton loginInput" type="submit">Register</button>
            </form>
        </div>
    </div>

</body>
</html>