<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Register</title>
    <link rel="stylesheet" type="text/css" href="/static/css/custom.css" />
</head>
<body>
<div class="contentClass">
    <div class="loginDiv">
        <div class="form-container">
            <h1>Los Santos Food Delivery</h1>
            <form action="/" method="post">
                <input name="username" class="loginInput" required type="text" placeholder="Username"><br>
                <input name="password" class="loginInput" required type="password" placeholder="Password"><br>
                <input name="email" class="loginInput" required type="email" placeholder="Email Adress"><br>

                <button class="registerButton loginInput" type="submit">Register</button><br>
            </form>
            <button class="loginButton loginInput" type="submit">Login</button>
        </div>
    </div>
</div>
</body>
</html>