@import url('https://fonts.googleapis.com/css?family=Poppins:900i');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: #ededed;
    width: 100%;
    overflow-style: marquee-block;
    height: 100%;

}

@font-face {
    font-family: MyFont;
    src: url("font.ttf");
}

.contentClass{
    margin-bottom: 1%;
    width: 100%;
    color:black;
    background-color: #fafafa;
    font-family: MyFont;
    height: 100%;
}

.loginDiv {
    height: 50%;
    width: 50%;
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -40%);
}

.loginButton,
.registerButton {
    cursor: pointer;
}

.form-container {
    text-align: center;
}


.loginInput{
    font-family: MyFont;
    border: none;
    background-color: #ededed;
    border-radius: 0px;
    width: 50%;
    margin-top: 2%;
    font-size: 24px;
    padding: 1%;
}

button:active{
    outline: none;
    text-decoration: none;
    border: none;
}

.loginButton:hover{
    color: #ededed;
    background-color: seagreen;
    transition: color 200ms, background-color 100ms;
}

.registerButton:hover{
    color: #ededed;
    background-color: cornflowerblue;
    transition: color 200ms, background-color 100ms;
}

.loginDiv{
    padding: 5%;
}

#header {
    background-color: #fafafa;
    box-shadow: 0 0 2px 2px rgba(0,0,0,.2);
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 8%;
    z-index: 99;
    position: fixed;
    width: 100%;
}

.headerTitle {
    width: 30%;
    margin-right: auto;
    text-align: center;
    font-weight: bold;
    font-family: 'Poppins', sans-serif;
    font-size: 1.8rem;
}

.headerTable {
    width: 60%;
}

.black {
    color: #222222;
    cursor: pointer;
    font-family: 'Poppins', sans-serif;
    font-weight: bold;
    text-transform: uppercase;
}

.black:hover {
    text-decoration: none;
    color: #222222;
}

.section-first {
    background-image: url(https://i.imgur.com/Ew3rg.jpg);
    background-size: cover;
    background-position-x: 60%;
    background-position-y: 40%;
}

.welcomeMessage{
    color: #fafafa;
    width: 50%;
    top: 8%;
    right: 0;
    height: 92%;
    position: absolute;
}

.welcomeMessage p {
    color: #fafafa;
    font-weight: bolder;
    font-family: 'Poppins', sans-serif;
}

.welcomeMessage p:first-child {
    text-align: center;
    margin-top: 10%;
    margin-bottom: 15%;
    text-shadow: 0 2px 2px #222222;
    font-size: 3.8rem;
    text-transform: uppercase;

}

.welcomeMessage p:last-child {
    text-align: center;
    font-size: 2rem;
    text-shadow: 0 2px 2px #222222;
    width: 65%;
    margin: auto;
}

.product-card {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

#product-section:nth-child(even) {
    background-color: #e3492d;
}

#product-section:nth-child(odd) {
    background-color: #ededed;
}

#product-section:nth-child(odd) .product-text {
    color: #222222;
    text-shadow: 0 2px 2px silver;
}

.product-text {
    font-family: 'Poppins', sans-serif;
    color: #fafafa;
    font-size: 2rem;
    text-shadow: 0 2px 2px #222222;
    text-align: center;
}

.product-text h2{
    padding-bottom: 10%;
    font-size: 3.8rem;
    text-transform: uppercase;
}

.product-card img {
    height: 25rem;
    width: 30rem;
}
